@media screen and (max-width: 1200px) {
  nav {
    padding: 0 2rem;
  }

  section {
    margin: 0 4rem;
  }

  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  .section-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  section {
    margin: 0 1.5rem;
  }

  .title {
    font-size: 2.2rem;
  }

  .section__text__p2 {
    font-size: 1.3rem;
  }

  .about-containers,
  .contact-info-upper-container {
    flex-direction: column;
  }

  .logo {
    font-size: 1.4rem;
  }

  footer {
    margin-top: 2rem;
  }
}
